.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  animation: rotate 2s linear 0s infinite normal forwards;
}

// @keyframes rotate {
//   0% {
//     transform: rotate(0);
//   }

//   100% {
//     transform: rotate(360deg);
//   }
// }

.space {
  // margin-top: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orbits {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.orbit {
  position: absolute;
  display: flex;
  align-items: center;
  width: 20vw;
  height: 20vw;
  transform-style: preserve-3d;
}
.orbitInner {
  display: flex;
  align-items: center;
  width: 20vw;
  height: 20vw;
  transform-style: preserve-3d;
  animation: spin 5s linear infinite;
}
.orbit:nth-child(1) {
  transform: rotateZ(120deg);
}
.orbit:nth-child(1) .orbitInner {
  animation-duration: 5s;
}
.orbit:nth-child(1) .planetoid {
  --h: 180;
  animation-duration: 5s;
}
.orbit:nth-child(2) {
  transform: rotateZ(240deg);
}
.orbit:nth-child(2) .orbitInner {
  animation-duration: 9s;
}
.orbit:nth-child(2) .planetoid {
  --h: 180;
  animation-duration: 9s;
}
.orbit:nth-child(3) {
  transform: rotateZ(360deg);
}
.orbit:nth-child(3) .orbitInner {
  animation-duration: 7s;
}
.orbit:nth-child(3) .planetoid {
  --h: 180;
  animation-duration: 7s;
}

.planet {
  width: 9vw;
  height: 9vw;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid black;
  filter: drop-shadow(0 0 10px #333333) drop-shadow(0 0 40px grey);
  border-color: 1px solid #fffefe;
}
.planet:before {
  content: "";
  display: block;
  background-color: #000000;
  border-radius: 50%;
  border-color: 1px solid #fffefe;

  width: 9vw;
  height: 9vw;
  transform: translate3d(-25%, -18%, 0);
}

.planetoid {
  --h: 5;
  --s: 92.9;
  --l: 66.9;
  display: block;
  width: 3vw;
  height: 3vw;
  // background-color: hsl(5, calc(92.9 * 1%), calc(66.9 * 1%));
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  // border: 3px solid
  //   hsl(5, 92.9 * 1%), calc(66.9 - 26) * 1%);
  animation: spin 5s linear infinite reverse;
}
.planetoid:before {
  content: "";
  display: block;
  background-color: rgba(203, 198, 198, 0.2);
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  transform: translate3d(-25%, -18%, 0);
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
