$circleSize: 5em;
#root {
  width: 100vw;
  height: 100vh;
  background-color: black;

  .main-container {
    width: 100%;
    height: 100%;

    // cursor: none;

    .cursor-style {
      // background-image: url(./assets/icons/spaceship.png);
      // background-image: url(./assets/icons/rocket.png);
      background-image: url("./assets/icons/rocket-black.png");
      // background-image: url(./assets/icons/meteor.png);
      // background-image: url(./assets/icons/spaceship-black.png);
      background-size: contain;
      height: 1.4em;
      width: 1.4em;
      // border-radius: 100%;
      z-index: 999999;
      transform-origin: 100% 100%;
      transform: translate(-50%, -50%);
      position: fixed;
      pointer-events: none;

      &.start:before {
        content: "";
        background-image: url("./assets/icons/fire.png");
        position: absolute;
        bottom: -9px;
        left: 9px;
        width: 1em;
        z-index: 0;
        height: 1em;
        background-repeat: no-repeat;
        transform: rotate(356deg);
        // transform: rotate(-3deg);
        background-size: contain;
        // background-position: top;
        animation: myAnim 300ms ease 0s 1 normal forwards;
      }
    }

    // .circle {
    //   width: calc(var(--scale) * #{$circleSize});
    //   height: calc(var(--scale) * #{$circleSize});

    //   border-radius: 50%;
    //   // background-color: rgb(244, 240, 240);
    //   position: fixed;
    //   pointer-events: none;
    //   background-image: url("./assets/icons/circle.png");
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center center;
    //   top: 0;
    //   left: 0;
    //   z-index: 999999;

    //   display: block;
    // }
  }

  a:hover {
    .cursor-style {
      // background-image: url(./assets/icons/spaceship.png);
      // background-image: url(./assets/icons/rocket.png);
      background-image: url("./assets/icons/rocket-black.png");
      // background-image: url(./assets/icons/meteor.png);
      // background-image: url(./assets/icons/spaceship-black.png);
      background-size: contain;
      height: 1.4em;
      width: 1.4em;
      // border-radius: 100%;
      z-index: 999999;
      transform-origin: 100% 100%;
      transform: translate(-50%, -50%);
      position: fixed;
      pointer-events: none;

      &:before {
        content: "";
        background-image: url("./assets/icons/fire.png");
        position: absolute;
        bottom: -9px;
        left: 9px;
        width: 1em;
        z-index: 0;
        height: 1em;
        background-repeat: no-repeat;
        transform: rotate(356deg);
        // transform: rotate(-3deg);
        background-size: contain;
        // background-position: top;
        animation: myAnim 300ms ease 0s 1 normal forwards;
      }
    }
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
    // transform: translateY(-2px);
  }

  100% {
    opacity: 1;
    // transform: translateY(0);
  }
}
