@font-face {
  font-family: "space";
  src: url("/font/Fakeblood.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space-body";
  src: url("/font/radio.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  font-family: "space", cursive;
  color: white;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

ul {
  list-style: none;
}
