@font-face {
  font-family: "space";
  src: url("/font/future.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space-body";
  src: url("/font/OtherFuture.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
  font-family: "space", cursive;
  // font-family: "Courier New", Courier, monospace;
  color: white;
  cursor: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  cursor: none;
}

ul {
  list-style: none;
}

a:hover {
  cursor: none;
}

#fluids {
  width: 100%;
  height: 100%;
  background-color: red;
}
