.circle {
  height: 0.3em;
  width: 0.3em;
  border-radius: 50%;
  background-color: rgb(244, 240, 240);
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
  // background-image: url("../../assets/icons/circle.png");
  pointer-events: none;
  background-size: contain;
  background-position: center;
  transform-origin: 100% 100%;
}
